<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="driverPath" value="D:\Users\NAli\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe" />
		<add key="username" value="Nour" />
		<add key="password" value="pwd"/>
		<add key="getPetId" value="12345"/>
		<add key="deletePetId" value="5"/>
		<add key="api_key" value="special_key"/>
	</appSettings>
</configuration>