<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="driverPath" value="CHROMEDRIVER_PATH" />
		<add key="username" value="USERNAME" />
		<add key="password" value="PASSWORD"/>
		<add key="getPetId" value="INTEGER_VALUE"/>
		<add key="deletePetId" value="INTEGER_VALUE"/>
		<add key="api_key" value="special_key"/>
	</appSettings>
</configuration>